Package: com.xtm3x.blueboard
Name: BlueBoard
Depends: mobilesubstrate
Version: 0.0.3
Architecture: iphoneos-arm
Description: A tweak that makes the keyboard keys blue!
Maintainer: xTheMaster3x
Author: xTheMaster3x
Section: Tweaks
